{
  "projectId": 663,	
  "application": "Helloworld",
  "duId": "APM0201850",
  "testsuite": [
    {
      "qtestTestSuiteId": 357080,
      "testClassName": "Helloworld",
      "category": "Sanity",
      "phase": "E2E",
      "testType": "AST",
      "testcase": [
        {
          "name": "Status code is 200",
          "description": "Sanity check for the {{ DYNAMIC_ENVIRONMENT_URL }}",
		      "qtestTestCaseId": 2182309
        }
      ]
    }
  ]
}
