---
applications:
- name: {{ PCF_ROUTE_HOSTNAME }}
  routes: 
    - route: {{ PCF_ROUTE_HOSTNAME }}.{{ DOMAIN }}
  instances: {{ PCF_INSTANCES | default(3,true) }}
  path: ./target/{{ CI_PROJECT_NAME }}-{{ APP_VERSION }}-{{ BUILD_NUMBER }}.jar
  health-check-type: http
  health-check-http-endpoint: /actuator/health
  buildpacks: 
    - {{ BUILDPACK }}
  env:
    FORCE_HTTPS: true
    ENVIRONMENT: {{ CI_ENVIRONMENT_NAME }}
    JAVA_OPTS: "-Dhttps.proxyHost=proxy.internal.t-mobile.com -Dhttps.proxyPort=9090"
