---
applications:
- name: {{ PCF_ROUTE_HOSTNAME }}
  routes: 
    - route: {{ PCF_ROUTE_HOSTNAME }}.{{ DOMAIN }}
  instances: {{ PCF_INSTANCES | default(3,true) }}
  path: ./target/{{ CI_PROJECT_NAME }}-{{ APP_VERSION }}-{{ BUILD_NUMBER }}.jar
  health-check-type: http
  health-check-http-endpoint: /actuator/health
  buildpacks: 
    - {{ BUILDPACK }}
  env:
    FORCE_HTTPS: true
    ENVIRONMENT: {{ CI_ENVIRONMENT_NAME }}
    PIPELINE_ID: {{ CI_PIPELINE_ID }}
    PIPELINE_URL: {{ CI_PIPELINE_URL }}
    COMMIT_BRANCH: {{ CI_COMMIT_REF_NAME }}
    COMMIT_SHA: {{ CI_COMMIT_SHA }}
    COMMIT_USER: {{ GITLAB_USER_NAME }}
    COMMIT_TS: {{ CI_COMMIT_TIMESTAMP }}
    APP_NAME: {{ PCF_ROUTE_HOSTNAME }}
    DEPLOYED_VERSION: {{ APP_VERSION }}-{{ BUILD_NUMBER }}
    DEPLOYED_BY: {{ GITLAB_USER_NAME }}
    TARGET_SERVER_URL: http://{{ PCF_ROUTE_HOSTNAME }}.{{ DOMAIN }}
    DEPLOY_STRATEGY: {{ PCF_BG_STRATEGY }}
    DEPLOY_PLATFORM: PCF
    JAVA_OPTS: "-Dhttps.proxyHost=proxy.internal.t-mobile.com -Dhttps.proxyPort=9090"
