sonar.sources=./src/main/java/com/tmobile/hello/controller
sonar.java.binaries={{ BUILD_ARTIFACTS }}/classes
sonar.java.coveragePlugin=jacoco
sonar.jacoco.reportPath={{ BUILD_ARTIFACTS }}/jacoco.exec
sonar.dynamicAnalysis=reuseReports
sonar.exclusions=**/*.sql