sonar.sources=./src/main
sonar.java.binaries={{ BUILD_ARTIFACTS }}/classes
sonar.java.coveragePlugin=jacoco
sonar.jacoco.reportPath={{ BUILD_ARTIFACTS }}/jacoco.exec
sonar.dynamicAnalysis=reuseReports
sonar.exclusions={{ BUILD_ARTIFACTS }}/site/**, **/*.sql