# Default values for helloworld.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: {{ CI_REGISTRY_IMAGE |default ("unsetcontainer") }}/{{ CI_COMMIT_REF_SLUG |default ("unsetref") }}:{{CI_COMMIT_SHA |default ("unsetsha") }}
  pullPolicy: Always

imagePullSecrets: tmobile-cdp-image-pull 
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: {{ SERVER_PORT|default(80) }}
  targetPort: http
  healthCheck:
    scheme: HTTP
    timeoutSeconds: 3
    livenessProbe:
      path: /actuator/health/liveness
      initialDelaySeconds: 30
      periodSeconds: 10
      failureThreshold: 5
    readinessProbe:
      path: /actuator/health/readiness
      initialDelaySeconds: 30
      periodSeconds: 10
      failureThreshold: 5
  env:
    - name: ENVIRONMENT
      value: "{{ CI_ENVIRONMENT_NAME |default ("local") }}"
    - name: PIPELINE_ID
      value: "{{ CI_PIPELINE_ID |default ("00000000") }}"
    - name: PIPELINE_URL
      value: "{{ CI_PIPELINE_URL |default ("https://gitlab.com/unsetpipelineurl") }}"
    - name: COMMIT_SHA
      value: "{{ CI_COMMIT_SHA |default ("ffffffff") }}"
    - name: APP_NAME
      value: "{{ HELM_APP_NAME | default ("helloworld") }}"
    - name: DEPLOYED_BY
      value: "{{ GITLAB_USER_NAME | default ("localuser") }}"
    - name: DEPLOYED_VERSION
      value: "{{ APP_VERSION| default ("1.0.0") }}-{{ BUILD_NUMBER| default ("11111111") }}"
    - name: COMMIT_USER
      value: "{{ GITLAB_USER_NAME | default ("localuser@localmachine")}}"
    - name: COMMIT_TS
      value: "{{CI_COMMIT_TIMESTAMP | default ("2023-01-01T01:01:01Z") }}"
    - name: COMMIT_BRANCH
      value: "{{ CI_COMMIT_REF_NAME | default ("localbuildbranch") }}"
    - name: DEPLOY_STRATEGY
      value: "{{K8S_DEPLOY_STRATEGY | default ("localbuildstrategy") }}"
    {%- if not 'production' in CI_ENVIRONMENT_TIER|default ("local") %}
    - name: http_proxy
      value: "http://proxy.internal.t-mobile.com:9090"
    - name: HTTP_PROXY
      value: "http://proxy.internal.t-mobile.com:9090"
    - name: https_proxy
      value: "http://proxy.internal.t-mobile.com:9090"
    - name: HTTPS_PROXY
      value: "http://proxy.internal.t-mobile.com:9090"
    - name: no_proxy
      value: "198.0.0.0/8,10.0.0.0/8,.t-mobile.com,.gsm1900.org,localhost,127.0.0.1,.cluster.local"
    - name: NO_PROXY
      value: "198.0.0.0/8,10.0.0.0/8,.t-mobile.com,.gsm1900.org,localhost,127.0.0.1,.cluster.local"
    - name: JAVA_OPTS
      value: "-Dhttp.proxyHost=proxy.internal.t-mobile.com -Dhttp.proxyPort=9090 -Dhttps.proxyHost=proxy.internal.t-mobile.com -Dhttps.proxyPort=9090"
    - name: TARGET_SERVER_URL
      value: "http://{{ HELM_APP_NAME | default ("helloworld") }}.{{ K8S_DOMAIN |default ("localdomain") }}"
    {%- endif %}

ingress:
  enabled: true
  namespace: {{ K8S_NS |default ("localbuildnamespace") }}
  {%- if EXTERNAL_DNS_TARGET is defined %}
  annotations:
    kubernetes.io/ingress.class: nginx-internal
    external-dns.alpha.kubernetes.io/hostname: {{ HELM_APP_NAME | default ("helloworld") }}.{{ K8S_DOMAIN | default ("localbuildk8sdomain") }}
    external-dns.alpha.kubernetes.io/target: {{ EXTERNAL_DNS_TARGET }}
  {%- elif CI_JOB_NAME|default ("local") == 'ephemeral-deploy' %}
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: HTTP
  {%- else %}
  annotations:
    ingress.kubernetes.io/use-port-in-redirects: 'true'
    ingress.kubernetes.io/ssl-redirect: 'true'
    kubernetes.io/ingress.class: std-ingress-class
  {%- endif %}
  hosts:
    - host:  {{ HELM_APP_NAME | default ("helloworld") }}.{{ K8S_DOMAIN | default ("localbuildk8sdomain") }}
      paths:
        - path: /
          pathType: Prefix

resources: 
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: "1"
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi

# The EXTERNAL_DNS_TARGET is set only for Conducktor deployments and nodegroup needs to be specified for conducktor deployments.
# https://jirasd.t-mobile.com/servicedesk/customer/portal/20/CSRE-21034
{%- if EXTERNAL_DNS_TARGET is defined %}
nodeSelector:
  nodegroup: agent
{%- else %}
nodeSelector: {}
{%- endif %}

tolerations: []

affinity: {}

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  cpu: 80
  memory: 512Mi
