# Default values for helloworld.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: {{CI_REGISTRY_IMAGE}}/{{CI_COMMIT_REF_SLUG}}:{{CI_COMMIT_SHA}}
  pullPolicy: Always

imagePullSecrets: tmobile-cdp-image-pull 
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations:
{% raw %}
  rollme: "{{ randAlphaNum 5 | quote }}"
{% endraw %}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80
  targetPort: http
  environment: {{CI_ENVIRONMENT_NAME}}
  pipelineId: {{CI_PIPELINE_ID}}
  pipelineUrl: {{CI_PIPELINE_URL}}
  commitBranch: {{CI_COMMIT_REF_NAME}}
  commitSha: {{CI_COMMIT_SHA}}
  commitUser: {{GITLAB_USER_NAME}}
  commitTs: {{CI_COMMIT_TIMESTAMP}}
  appName: {{HELM_APP_NAME}}
  deployedVersion: {{APP_VERSION}}-{{BUILD_NUMBER}}
  deployedBy: {{GITLAB_USER_NAME}}
  targetUrl: http://{{HELM_APP_NAME}}.{{K8S_DOMAIN}}
  deployStrategy: {{K8S_DEPLOY_STRATEGY}}
  {%- if EXTERNAL_DNS_TARGET is defined %}
  deployPlatform: Conducktor
  {% elif CI_JOB_NAME == 'ephemeral-deploy' %}
  deployPlatform: KinD
  {%- else %}
  deployPlatform: Tke
  {%- endif %}
  healthCheck:
    scheme: HTTP
    timeoutSeconds: 3
    livenessProbe:
      path: /actuator/health/liveness
      initialDelaySeconds: 30
      periodSeconds: 10
      failureThreshold: 5
    readinessProbe:
      path: /actuator/health/readiness
      initialDelaySeconds: 30
      periodSeconds: 10
      failureThreshold: 5

ingress:
  enabled: true
  namespace: {{K8S_NS}}
  {%- if EXTERNAL_DNS_TARGET is defined %}
  annotations:
    kubernetes.io/ingress.class: nginx-internal
    external-dns.alpha.kubernetes.io/hostname: {{HELM_APP_NAME}}.{{K8S_DOMAIN}}
    external-dns.alpha.kubernetes.io/target: {{EXTERNAL_DNS_TARGET}}
  {%- elif CI_JOB_NAME == 'ephemeral-deploy' %}
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: HTTP
  {%- else %}
  annotations:
    ingress.kubernetes.io/use-port-in-redirects: 'true'
    ingress.kubernetes.io/ssl-redirect: 'true'
    kubernetes.io/ingress.class: std-ingress-class
  {%- endif %}
  hosts:
    - host: {{HELM_APP_NAME}}.{{K8S_DOMAIN}}
      paths:
        - path: /
          pathType: Prefix

resources: 
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: "1"
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi

nodeSelector: {}

tolerations: []

affinity: {}

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  cpu: 80
  memory: 512Mi
