replicaCount: 1

image:
  repository: {{CI_REGISTRY_IMAGE}}/{{CI_COMMIT_REF_SLUG}}:{{CI_COMMIT_SHA}}
  pullPolicy: Always

imagePullSecrets: my-reg
nameOverride: ""
fullnameOverride: ""

service:
  name: {{HELM_APP_NAME}}-service
  type: ClusterIP
  port: 80
  environment: {{CI_ENVIRONMENT_NAME}}
  healthCheck:
    scheme: HTTP
    timeoutSeconds: 3
    livenessProbe:
      path: /actuator/health/liveness
      initialDelaySeconds: 30
      periodSeconds: 10
      failureThreshold: 5
    readinessProbe:
      path: /actuator/health/readiness
      initialDelaySeconds: 30
      periodSeconds: 10
      failureThreshold: 5

serverName: {{HELM_APP_NAME}}.{{K8S_DOMAIN}}

ingress:
  name: {{HELM_APP_NAME}}-ingress
  rules:
    host:
      serviceName: {{HELM_APP_NAME}}-service
      servicePort: 80
  tls:
    host: {{HELM_APP_NAME}}.{{K8S_DOMAIN}}
  namespace: {{K8S_NS}}

resources:
  limits:
    cpu: "1"
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi

nodeSelector: {}

tolerations: []

affinity: {}
