{
  "projectId": 663,	
  "application": "Helloworld",
  "testsuite": [
    {
      "qtestTestSuiteId": 451866,
      "testClassName": "Helloworld",
      "category": "Sanity",
      "phase": "E2E",
      "testType": "AST",
      "testcase": [
        {
          "name": "health-endpoint-inspect",
          "description": "/actuator/health inspect",
		      "qtestTestCaseId": 2442619
        },
        {
          "name": "info-endpoint-inspect",
          "description": "/actuator/info inspect",
		      "qtestTestCaseId": 2442622
        }
      ]
    }
  ]
}
